@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #d4c8c8;
    font-family: 'Montserrat', sans-serif;
}

Header{
    display: flex;
    width: 100%;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;

}

.mainHeader a{
    color: green;
    text-decoration: none;
    font-size: 1,5rem;
    font-weight: bold;
    


}

.navigation ul li a {
    color: green;
    font-size: 15px;
    font-weight: 0;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 400;
}

.navigation ul li {
    list-style: none;
}

.navigation ul {
    display: flex;
}

.navigation a:hover {
    color: greenyellow;

}

.mainvideo {
    width: 10%;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    height: 5%;
    left: 0;
    align-items: center;
}


#mainFooter {
    background: rgb(108, 60, 239);
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}